* {
    margin: 0;
    padding: 0;
    
  }
     /* nav bar */
  
  .navbar {
      background-color: #fff;
      height: 40px; 
      margin-top: 15px;
       
  } 
  
  .navbar li  {
      list-style: none;
      display: inline-block; 
      position: relative;
      left: 1120px;
      padding: 10px 5px; 
      vertical-align: middle;
      font-size: 13px;
  }
  .navbar li a {
      color: #000;
  }
  .navbar li a:hover {
      border-bottom: 1px solid rgb(32, 32, 32);
  }
   /* nav bar links */
   .signin {
    background-color: #4285f4;
    padding: 8px 13px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 600;
    border:none;
    color: #fff;
}
.signin:focus { 
    outline: none; 
}
.signin:hover {
    background-color: #2571ec;
}
.four-dot {
    width: 20px;
    margin-top: 2px;
}
.navbar li a {
    
    
    text-decoration: none;
   
} 
/* google logo */

.logo {
    
    margin-top: 94px;
    margin-left: 545px;
    
} 

.src-icon {
    position: absolute;
    top: 304px;
    left: 430px;
}
   /* search box */
#search {
    margin-left: 407px;
    margin-top: 20px;
    width: 550px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgb(230, 224, 224);
}
#search:hover {
        box-shadow: 0px 0px 0.5px 1px rgba(134, 134, 134, 0.404);
}
